h1 {
    background-color: aqua;
}

h2 {
    background-color: yellow;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

p {
    background-color: yellow;
}